/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea:focus, input:focus, select:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

body {
  background-color: #1f2632;
  min-height: 100Vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#caixa-conselhos {
  background-color: #323a49;
  font-family: "Manrope", sans-serif;
  font-size: 28px;
  color: #cee3e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  min-width: 300px;
  max-width: 900px;
  padding: 30px 50px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 1em #23212b;
          box-shadow: 0 0 1em #23212b;
}

#caixa-conselhos .num-conselho {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #52ffa8;
  letter-spacing: 4px;
  font-size: 10px;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#caixa-conselhos #texto {
  word-break: break-word;
  max-width: 400px;
  margin: 20px 0;
}

#caixa-conselhos .divisao-desk {
  padding: 10px 0;
  margin-bottom: -40px;
}

#caixa-conselhos .divisao-mobile {
  display: none;
}

.btn-gera-conselho {
  background-image: url(../../assets/icon-dice.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  background-color: #52ffa8;
  border-radius: 50%;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  bottom: -55px;
  height: 3rem;
  width: 3rem;
}

.btn-gera-conselho:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: 0.9ms;
  transition: 0.9ms;
  -webkit-box-shadow: 0 0 2rem #52ffa8;
          box-shadow: 0 0 2rem #52ffa8;
}

@media (max-width: 768px) {
  #caixa-conselhos {
    min-width: 100px;
    max-width: 250px;
  }
  .divisao-desk {
    display: none;
  }
  .divisao-mobile {
    display: inline !important;
    padding: 10px 0;
    margin-bottom: -40px;
  }
  .btn-gera-conselho:hover {
    -webkit-transform: none;
            transform: none;
    -webkit-transition: none;
    transition: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
/*# sourceMappingURL=style.css.map */